html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: white;
}

h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 80px; 
} 

h2 {
    font-size: 42px;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    color: #999999;
    line-height: 1.8;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

section {
    padding: 120px 0;
}

.bg-light-gray { background-color: #f5f5f5; }
.bg-dark { background-color: #1a1a1a !important; }

.topmargin-xs { margin-top: 15px !important; }
.topmargin-sm { margin-top: 30px !important; }
.topmargin-lg { margin-top: 95px !important; }

.btn {
    font-size: 14px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}

.btn-light {
    background-color: white;
    color: #1a1a1a;
    border: 2px solid white;
}

.btn ion-icon { font-size: 14px; margin-left: 5px; }

.btn-dark { 
    background-color: #1a1a1a;
    color: #ffffff;
    border: 2px solid #1a1a1a;
}

.btn-transparent {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.btn-transparent:hover {
    color:#ffffff;
}

.full-width {
    width: 100%;
}

.divider {
    border-bottom: 2px solid #f5f5f5;
}

.navbar {
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .05);
    min-height: 100px;
    z-index: 10000;
}

.nav-link {
    color: #1a1a1a;
}

.logo-brand {
    min-width: 160px;
    max-width: 180px;
}

.navbar-toggler { 
    font-size: 40px; 
}

#hero {
    background-image: url("https://i.imgur.com/8yWVnUg.jpg");
    background-size: cover;
    min-height: 600px;
    padding-top: 90px;
    color: #ffffff;
}

#hero p {
    color: white;
}

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto ;
    text-align: center;
}

.portfolio-container {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

.portfolio-container img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.portfolio-container:hover img {
    -moz-transform: scale(1.2);
    -webkit-transition: scale(1.2);
    transform: scale(1.2);
}

.portfolio-details {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
}

.portfolio-details h2 {
    margin-bottom: 0px;
}

.portfolio-details a h2, .portfolio-details a p {
    color: white;
}

.form-control {
    font-size: 14px;
    border: 1px solid #cacaca;
    padding: 15px;
    border-radius: 2px;
    height: auto;
}

.form-control:hover {
    border: 1px solid #1a1a1a;
    outline: none;
    box-shadow: none;
}

/* Acomodando el layout */
.navbar-collapse {
    flex-grow: 0;
}

.text-dark {
    color: black;
}

.member-container {
    position: relative;
    margin: 10px 0;
}

.member-details {
    position: absolute;
    color: white;
    bottom: 0px;
    left: 20px
}

.member-details h5 { margin-bottom: 0px; }
.member-details ul { margin-top: 15px; }

.pricing-container {
    margin: 15px 0;
}

.plans {
    padding: 50px 80px;
    border-radius: 2px;
    min-width: 450px;
}

.plan-light {
    background-color: #ffffff;
    border: 2px solid #1a1a1a !important;
}

.plan-dark {
    background-color: #1a1a1a;
    border: 2px solid #1a1a1a;
    color: #ffffff;
}

.plans h2 {
    font-size: 60px;
    font-weight: 600;
}

.plans span {
    font-size: 20px;
}

.plans ul {
    list-style-type: square;
}

.carousel {
    min-height: 240px;
    padding: 40px;
    border-radius: 2px;
    text-align: center;
}

.carousel p {
    font-size: 26px;
    font-weight: 400;
    color: #1a1a1a;
}

.carousel-indicatiors li {
    background-color: #1a1a1a;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin: 0 8px;
}

.carousel-control-next, .carousel-control-prev {
    color: #ffffff;
    opacity: 1;
    width: 5%;
}

.control-button {
    background-color: #1a1a1a;
    opacity: 1;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px solid #1a1a1a;
    border-radius: 50px;
    font-size: 20px;
}

.carousel-container {
    max-width: 800px;
    margin: 0 auto;
}

.rating ion-icon {
    color: #ffb944;
    font-size: 26px;
}

.testimonial-user {
    max-width: 240px;
    margin: 0 auto;
    text-align: left;
}

.testimonial-user h6 {
    margin-bottom: 0px;
}

.testimonial-user span {
    font-size: 12px;

}

.testimonial-user img {
    border-radius: 50%;
    max-width: 50px;
    text-align: center;
}

#footer {
    padding: 80px 0;
    text-align: center;
    color: #ffffff;
}

#footer a {
    color: #ffffff;
}

#footer a:hover {
    color: #ffffff;
}

#footer .list-inline .list-inline-item {
    padding: 10px 15px;
}



/* Media queryes bootstrap */

@media (max-width: 575.98px) { 
    h1 {
        font-size: 40px; 
        line-height: normal;
    }

    .portfolio-details h2 { font-size: 32px; }

    .plans { min-width: unset; padding: 40px; }

    .carousel-item p {
        font-size: 25px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .portfolio-details h2 { font-size: 30px; }

    .plans {min-width: unset; padding: 40px 20px; }
}